<footer class="bg-primary" style="background: linear-gradient(45deg, #D956BC, #8A2BE2); color: white;">
    <!-- Outer container -->
    <div class="container-fluid">
        <!-- Grid row -->
        <div class="row justify-content-center">
            <!-- Content column -->
            <div class="col-lg-12">
                <!-- Grid container -->
                <div class="container p-4">
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                            <h5 class="mb-2">TeachMe</h5>
                            <p>
                                Embark on a journey of continuous learning with EA Learning!
                                Our platform is dedicated to helping you enhance your skills and expertise in various fields.
                                Whether you're a seasoned professional looking to stay ahead of the curve or a curious learner eager to explore new topics,
                                EA Learning provides a diverse range of courses tailored to your needs.
                                Join our community today and unlock your full potential!
                            </p>
                        </div>
                        <!-- End of Grid column -->

                        <!-- Grid column -->
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-2">
                            <h5 class="mb-2">Quick Links</h5>

                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#!" class="text-white">About</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Home</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End of Grid column -->

                        <!-- Grid column -->
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <h5 class=" mb-2">Contact us</h5>

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!" class="text-white">+20 191 999 8762</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Teachmeegmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End of Grid column -->
                        
                    </div>
                    <!-- End of Grid row -->
                </div>
                <!-- End of Grid container -->
            </div>
            <!-- End of Content column -->
        </div>
        <!-- End of Grid row -->

        <!-- Horizontal line -->
        <hr style="margin: 0 auto; width: 75%;">

        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->
        
            <!-- Right -->
            <div>
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="me-4">
                    <i class="fa fa-user fa-5x" style="background:DodgerBlue"></i>
                </a>
                <a href="#" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
          <!-- Section: Social media -->
    </div>
    <!-- End of Outer container -->
</footer>
