<div class="container">
    <div class="row">
        <div class="col">
            <img src="../../../assets/e-learning.jpg"  alt="E-learning" class="img-fluid w-100">
            <h1>Marketing Research for Beginners</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="#">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Course Content</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Assignment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Grades</a>
                </li>
            </ul>
            <div class="grades-container">
                <p>Midterm: 12/15</p>
                <p>Practical: 13/15</p>
                <p>Assignment: N/A</p>
                <p>Quiz: 1/10</p>
                <p>Final: N/A</p>
            </div>
        </div>
    </div>
</div>
