<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="col-1">
  <h2 class="txt">TeachMe</h2>
   </div>
  <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarTxt">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Sign in</a>
      </li>
    </ul>
  </div>
  <div class="buttondiv">
  <button class="custom-button" type="button">Contact us</button>
</div>
</nav>


